<h1>Menu</h1>
<div class="row">
    <% @menus.each do |menu| %>
        <div class="card" >
        <%= image_tag menu.picture, class:"card-img-top" if menu.picture.attached?%>
        <div class="card-body">
          <h5 class="card-title"><%= menu.name %></h5>
          <p class="card-text"><%= menu.description %></p>
          <p class="card-text">$<%= menu.price %></p>
          <%= link_to "Order", new_order_path, class: "btn btn-success" %>
        </div>
      </div>
        <% end %>
    </div>